doctype html
html(lang='en')
	head
		title Cryptbucket
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href=config.baseUrlStatic + '/styles.css')

	body

		header

		nav

		main(ng-app='cryptbucket', ng-strict-di)
			block main

		footer

	script var config = {
		environment: '#{config.environment}',
		baseUrl: '#{config.baseUrl}',
		baseUrlStatic: '#{config.baseUrlStatic}'
	};
	script(src=config.baseUrlStatic + '/app.js', async)
	if (config.environment == 'development')
		script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1" async></' + 'script>')
